<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Tester App Challenge - Movie List</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="/css/style.css" media="screen,projection">
</head>

<body>
    <!-- HEADER -->
    {{>header}}

    <!-- MAIN -->
    <main class="container mt-m">
        <!-- SEARCH BAR -->
        <h6 class="white-text center">¿QU&Eacute; PEL&Iacute;CULA BUSCAS?</h6>
        <div class="container mt-s">
            <form action="" class="search-bar row">
                <input type="text" class="search-bar__text-field col s10 color-dark-secondary-bg">
                <a href="" class="search-bar__button col s2 white-text color-primary-bg"><i
                        class="material-icons">search</i></a>
            </form>
        </div>
        <!-- END SEARCH BAR -->

        <!-- RESULTS -->
        <div class="row mt-m">
            <!-- <h5 class="color-light-text center">No se encontraron resultados para "avengers".</h5> -->
            <div class="col s6 l3">
                <div class="movie-card">
                    <img src="https://m.media-amazon.com/images/M/MV5BNDYxNjQyMjAtNTdiOS00NGYwLWFmNTAtNThmYjU5ZGI2YTI1XkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SX300.jpg"
                        class="movie-card__image">
                    <div class="movie-card__info">
                        <p class="movie-card__info__name color-light-text">Nombre Película</p>
                        <p class="movie-card__info__year color-light-secondary-text">2020</p>
                    </div>
                    <a href="#" class="movie-card__button white-text color-primary-bg">Agregar a Favoritos</a>
                </div>
            </div>

            <div class="col s6 l3">
                <div class="movie-card">
                    <img src="https://m.media-amazon.com/images/M/MV5BNDYxNjQyMjAtNTdiOS00NGYwLWFmNTAtNThmYjU5ZGI2YTI1XkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SX300.jpg"
                        class="movie-card__image">
                    <div class="movie-card__info">
                        <p class="movie-card__info__name color-light-text">Nombre Película</p>
                        <p class="movie-card__info__year color-light-secondary-text">2020</p>
                    </div>
                    <a href="" class="movie-card__button white-text color-primary-bg added">Quitar de Favoritos</a>
                </div>
            </div>
        </div>

        <!-- END RESULTS -->

    </main>
    <!-- END MAIN -->

    <!-- FOOTER -->
    {{>footer}}

    <!-- SCRIPTS -->
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script src="/js/app.js"></script>
    <script>
        //Initialize elements
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
        });
    </script>
</body>

</html>