<nav>
    <div class="nav-wrapper color-dark-secondary-bg">
        <div class="container">
            <a href="/" class="brand-logo white-text">TESTER<span class="color-primary-text">MOVIES</span></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i
                    class="material-icons color-light-text">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/" class="color-light-text">Inicio</a></li>
                <li><a href="/favorites" class="color-light-text">Mis Favoritas</a></li>
            </ul>

        </div>
    </div>
</nav>

<ul class="sidenav color-dark-secondary-bg" id="mobile-demo">
    <li class="white-text font-size-M font-weight-bold center">MEN&Uacute;</li>
    <li class=""><a href="/" class="color-light-text font-size-M font-weight-light">Inicio</a></li>
    <li><a href="/favorites" class="color-light-text font-size-M font-weight-light">Mis Favoritas</a></li>
</ul>