//Colors
.color-primary-bg{
    background-color: $color-primary !important;
}
.color-light-bg{
    background-color: $color-light !important;
}
.color-light-secondary-bg{
    background-color: $color-light-secondary !important;
}
.color-dark-bg{
    background-color: $color-dark !important;
}
.color-dark-secondary-bg{
    background-color: $color-dark-secondary !important;
}
.color-success-bg{
    background-color: $color-success !important;
}
.color-error-bg{
    background-color: $color-error !important;
}
.color-primary-text{
    color: $color-primary !important;
}
.color-light-text{
    color: $color-light !important;
}
.color-light-secondary-text{
    color: $color-light-secondary !important;
}
.color-dark-text{
    color: $color-dark !important;
}
.color-dark-secondary-text{
    color: $color-dark-secondary !important;
}