.search-bar{
    box-sizing: border-box !important;
    display: flex;
    &__text-field{
        margin-bottom: 0 !important;
        color: $color-light !important;
        padding-left: 1em !important;
        border: none !important;
        box-shadow: none !important;
        transition: background-color .3s ease-in-out !important;
        border-radius: 2em 0 0 2em !important;
        &:hover{
            background-color: lighten($color: $color-dark-secondary, $amount: 7) !important;
        }

        &:focus{
            background-color: $color-light !important;
            color: $color-dark !important;
            border: none !important;
        }
    }
    &__button{
        box-sizing: border-box !important;
        padding: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0 2em 2em 0;
    }
}