//Colors 
$color-primary: #34C0E7;
$color-light: #F9F7F8;
$color-light-secondary: #84A0B4;
$color-dark: #242936;
$color-dark-secondary: #313849;

$color-success:#45B47D;
$color-warning: #C2A445;
$color-error:#F44336;

//Fonts Families
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
$font-family-base: 'Open Sans',
sans-serif;

//Font Sizes
$font-size-l: 2.1rem;
$font-size-m: 1.3rem;

//Spacing
$margin-xl: 6em;