<div class="flex flex-col justify-center shadow-sm">
  <div class="self-center pb-10">
    <h1 class="text-6xl font-light text-gray-700">Search Movies</h1>
    <p class="italic text-3xl font-light text-gray-400">and save your favorites ones.</p>
  </div>
  
  <div class="self-center">
    <%= form_tag(search_path, method: :get, local: true) do %>
      <%= text_field_tag :title, params[:title], autocomplete: 'off', placeholder: "Eg. Jurassic Park", class: "p-5 rounded-md w-96 bg-gray-50" %>
      <%= submit_tag "Search", class: "px-10 py-5 rounded-md cursor-pointer hover:bg-blue-200 font-light" %>
    <% end %>
  </div>

  <div class="self-center italic pt-3 font-extralight text-gray-500">
    <p>*create an account or sign in to save films.</p>
  </div>
</div>